version: 2
updates:
  - package-ecosystem: "gradle"
    directories:
      - "**/*"
    schedule:
      interval: "weekly"
    groups:
      all-dependencies:
        patterns: ["*"]
        update-types: ["minor", "patch"]

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    ignore:
      - dependency-name: "walt-id/waltid-identity/*"
    groups:
      all-dependencies:
        patterns: ["*"]

  - package-ecosystem: "npm"
    directories:
      - "**/*"
    schedule:
      interval: "weekly"
    groups:
      all-dependencies:
        patterns: ["*"]
        update-types: ["minor", "patch"]
