**/build
**/.nuxt
**/node_modules
**/Dockerfile
**/docker-compose*
**/.git
**/.gitignore
**/README.md
**/LICENSE
**/.vscode
**/Makefile
**/helm-charts
**/.env
**/.editorconfig
**/dist
**/.output
**/.idea
**/coverage*
**/.gradle
**/.run
**/k8s
**/secret-*
.npmrc
.yarnrc
