apiVersion: v1
kind: ConfigMap
metadata:
  name: issuer-dev-klogging-config
data:
  klogging.json: |
    {
      "sinks": {
        "stdout": {
          "renderWith": "RENDER_SIMPLE",
          "sendTo": "STDOUT"
        },
        "stderr": {
          "renderWith": "RENDER_SIMPLE",
          "sendTo": "STDERR"
        }
      },
      "logging": [
        {
          "comment": "Default loglevel for all loggers except Request/Response logger: INFO",
          "matchLogger": "^(?!(io\\.ktor\\.client|WebLog)).*$",
          "levelRanges": [
            {
              "fromMinLevel": "ERROR",
              "toSinks": [
                "stderr"
              ]
            },
            {
              "fromMinLevel": "TRACE",
              "toMaxLevel": "WARN",
              "toSinks": [
                "stdout"
              ]
            }
          ]
        },
        {
          "comment": "Loglevel for service request monitoring - set it to INFO if you want enable it",
          "exactLogger": "WebLog",
          "levelRanges": [
            {
              "fromMinLevel": "DEBUG",
              "toSinks": [
                "stdout"
              ]
            }
          ]
        },
        {
          "comment": "Loglevel for http client requests - set it to INFO if you want enable it",
          "fromLoggerBase": "io.ktor.client",
          "levelRanges": [
            {
              "fromMinLevel": "DEBUG",
              "toSinks": [
                "stdout"
              ]
            }
          ]
        }
      ]
    }
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: issuer-web-config
data:
  web.conf: |
    webHost = "0.0.0.0"
    webPort = 3000
  issuer-service.conf: |
    baseUrl = "https://issuer.portal.test.waltid.cloud"
  authentication-service.conf: |
    name = "keycloak"
    authorizeUrl = "https://keycloak.walt-test.cloud/realms/waltid-keycloak-ktor/protocol/openid-connect/auth"
    accessTokenUrl = "https://keycloak.walt-test.cloud/realms/waltid-keycloak-ktor/protocol/openid-connect/token"
    clientId = "issuer_api"
---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: issuer
spec:
  replicas: 1
  selector:
    matchLabels:
      app: issuer
  template:
    metadata:
      labels:
        app: issuer
      annotations:
        deployment/id: "_DEFAULT_DEPLOYMENT_"
    spec:
      securityContext:
        runAsNonRoot: true
        runAsUser: 10001
        seccompProfile:
          type: RuntimeDefault
      containers:
        - name: issuer
          image: waltid/issuer-api:__DEFAULT_IMAGE_TAG__
          imagePullPolicy: Always
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
          env:
            - name: KLOGGING_CONFIG_PATH
              value: /config/klogging.json
          volumeMounts:
            - name: issuer-web-config
              mountPath: "/waltid-issuer-api/config/"
              readOnly: true
            - name: dev-klogging-config
              mountPath: /config
          ports:
            - containerPort: 3000
              name: http-api
      volumes:
        - name: issuer-web-config
          configMap:
            name: issuer-web-config
        - name: dev-klogging-config
          configMap:
            name: issuer-dev-klogging-config
---
kind: Service
apiVersion: v1
metadata:
  name: issuer
spec:
  ports:
    - name: http
      port: 80
      targetPort: http-api
      protocol: TCP
  selector:
    app: issuer
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: issuer
  annotations:
    kubernetes.io/ingress.class: "nginx"
    cert-manager.io/cluster-issuer: letsencrypt-prod
spec:
  tls:
    - hosts:
        - issuer.portal.test.waltid.cloud
      secretName: issuer-tls-secret
  rules:
    - host: issuer.portal.test.waltid.cloud
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: issuer
                port:
                  name: http
