{
	auto_https off
	admin off
}

# Wallet API
:7001 {
    reverse_proxy http://wallet-api:7001
}

# Issuer API
:7002 {
    reverse_proxy http://issuer-api:7002
}

# Verifier API
:7003 {
    reverse_proxy http://verifier-api:7003
}

# Web Wallet Frontend
:7101 {
    reverse_proxy http://waltid-web-wallet:7101 # frontend
    reverse_proxy /wallet-api/* http://wallet-api:7001 # backend
}

# Web Portal
:7102 {
    reverse_proxy http://web-portal:7102
}

# VC Repo
:7103 {
    reverse_proxy http://vc-repo:7103
}
