<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>id.walt.walletdemo</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>openid-credential-offer</string>
				<string>openid4vp</string>
			</array>
		</dict>
	</array>
	<!-- TODO: remove NSAppTransportSecurity once enterprise API returns https:// metadata URLs.
	     Without this, iOS blocks HTTP loads to *.enterprise.localhost during local E2E. -->
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>enterprise.localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
