NUXT_PUBLIC_ISSUER_BASE=http://localhost:7002
NUXT_ISSUER_PROXY_TARGET=
NUXT_PUBLIC_VERIFIER_BASE=http://localhost:7003
NUXT_VERIFIER_PROXY_TARGET=
NUXT_PUBLIC_WALLET_URL=http://localhost:7101
NUXT_PUBLIC_VERIFIER_KEY_JWK=
NUXT_PUBLIC_VERIFIER_X5C=
NUXT_PUBLIC_VERIFIER_CLIENT_ID=