name: Build and/or push api docker images (reusable workflow)

on:
  workflow_call:
    inputs:
      images:
        description: "The json array specifying image data (built with prepare-docker workflow)"
        required: true
        type: string
      version:
        description: "release version"
        required: true
        type: string
      tags:
        description: 'JSON array of desired tags, e.g. ["stable"]'
        required: false
        type: string
        default: '["dev"]'
      publish:
        description: "Specifies whether to publish the images (defaults to false)"
        required: false
        type: boolean
        default: false
      artifact:
        description: "Upload docker artifact (defaults to false)"
        required: false
        type: boolean
        default: false

jobs:
  docker:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include: ${{ fromJSON(inputs.images) }}
    steps:
      - name: Checkout all repos with ref fallback
        uses: walt-id/waltid-identity/.github/actions/checkout-repos@29f904ce0de831e02fe64507ebe284b02e66b50e
        with:
          token: ${{ secrets.GH_ACCESS_TOKEN }}
      - name: Configure gradle
        uses: walt-id/waltid-identity/.github/actions/gradle-setup-action@6bad7de2c6de9bc3faa68333de8b00be02613f4d

      - name: Generate Docker tags
        id: tags
        run: |
          TAGS="${{ inputs.version }},latest"
          for tag in $(echo '${{ inputs.tags }}' | jq -r '.[]'); do
            TAGS="$TAGS,$tag"
          done
          echo "tags=$TAGS" >> $GITHUB_OUTPUT
      - name: Build & Publish Docker images (${{ matrix.image }})
        if: ${{ inputs.publish }}
        run: |
          ./gradlew ${{ matrix.commandPath }}:jib \
            -Djib.to.tags=${{ steps.tags.outputs.tags }}
        env:
          MAVEN_USERNAME: ${{ secrets.MAVEN_USERNAME }}
          MAVEN_PASSWORD: ${{ secrets.MAVEN_PASSWORD }}
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker images (${{ matrix.image }})
        if: ${{ inputs.publish == false && inputs.artifact == true }}
        run: |
          ./gradlew ${{ matrix.commandPath }}:jibDockerBuild \
            -Djib.to.tags=${{ steps.tags.outputs.tags }}
        env:
          MAVEN_USERNAME: ${{ secrets.MAVEN_USERNAME }}
          MAVEN_PASSWORD: ${{ secrets.MAVEN_PASSWORD }}
      - name: Save Docker Image to ${{ matrix.image }}.tar.gz
        if: ${{ inputs.artifact }}
        run: docker save waltid/${{ matrix.image }}:${{ inputs.version }} | gzip > ${{ runner.temp }}/${{ matrix.image }}.tar.gz
        continue-on-error: false
      - name: Upload artifact
        if: ${{ inputs.artifact }}
        uses: actions/upload-artifact@v5
        with:
          name: ${{ matrix.image }}
          path: ${{ runner.temp }}/${{ matrix.image }}.tar.gz
          retention-days: 1
