name: Deploy manually to branch based environments

on:
  workflow_dispatch:

jobs:
  version:
    runs-on: ubuntu-latest
    outputs:
      release_version: ${{ steps.set_version.outputs.release_version }}
    steps:
      - name: Inject enhanced GitHub environment variables
        uses: rlespinasse/github-slug-action@v5
      - name: Set release version
        id: set_version
        run: echo "release_version=${GITHUB_REF_NAME}" >> $GITHUB_OUTPUT
  docker-matrix:
    uses: walt-id/waltid-identity/.github/workflows/load-json.yml@70e59bbea44de0b3511bb6bd72faa553e92f7bcf
    with:
      jsonpath: ".github/workflows/data/docker-matrix.json"
  docker:
    uses: walt-id/waltid-identity/.github/workflows/docker.yml@8fcefa7d4f599104fbcffc982133848eef3035ac
    secrets: inherit
    needs: [ version, docker-matrix ]
    with:
      images: ${{ needs.docker-matrix.outputs.json }}s
      version: ${{ needs.version.outputs.release_version }}
      publish: true
  api-docker-matrix:
    uses: walt-id/waltid-identity/.github/workflows/load-json.yml@70e59bbea44de0b3511bb6bd72faa553e92f7bcf
    with:
      jsonpath: ".github/workflows/data/api-docker-matrix.json"
  api-docker:
    uses: walt-id/waltid-identity/.github/workflows/api-docker.yml@8d0a6d9dc9514080d1d22d6e476bd45884656d6e
    secrets: inherit
    needs: [ version, api-docker-matrix ]
    with:
      images: ${{ needs.api-docker-matrix.outputs.json }}
      version: ${{ needs.version.outputs.release_version }}
      publish: true
  deploy:
    uses: walt-id/waltid-identity/.github/workflows/helm-deployment.yml@82c7362df0b04e81d9eede712fc13c31f6009e50
    secrets: inherit
    needs: [ version, docker, api-docker]
    with:
      version: ${{ needs.version.outputs.release_version }}
      namespace: ${{ needs.version.outputs.release_version }}
