name: Build on every push except main branch

on:
  push:
    branches-ignore:
      - main

jobs:
  version:
    uses: walt-id/waltid-identity/.github/workflows/version.yml@cb51bb121eb21eba0f5c12c79c7bb34bbbaa86d5
  gradle-build:
    uses: walt-id/waltid-identity/.github/workflows/build-gradle.yml@cb51bb121eb21eba0f5c12c79c7bb34bbbaa86d5
    needs: version
    with:
      version: ${{ needs.version.outputs.release_version }}
  docker-build:
    uses: walt-id/waltid-identity/.github/workflows/build-docker.yml@cb51bb121eb21eba0f5c12c79c7bb34bbbaa86d5
    needs: version
    with:
      version: ${{ needs.version.outputs.release_version }}
