name: Build on every push

on:
  push:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  version:
    uses: walt-id/waltid-identity/.github/workflows/version.yml@266f5c09359450c39019a6da38f2b331e7122918
  gradle-build:
    uses: walt-id/waltid-identity/.github/workflows/gradle.yml@3c360ff47f15ed48833e75df5fc39c6a22356912
    secrets: inherit
    needs: version
    with:
      version: ${{ needs.version.outputs.release_version }}
  docker-matrix:
    uses: walt-id/waltid-identity/.github/workflows/load-json.yml@927c4233610e90dd8a57418662fad7293b7b29a4
    with:
      jsonpath: ".github/workflows/data/docker-matrix.json"
  docker:
    uses: walt-id/waltid-identity/.github/workflows/docker.yml@3c360ff47f15ed48833e75df5fc39c6a22356912
    secrets: inherit
    needs: [ version, docker-matrix ]
    with:
      images: ${{ needs.docker-matrix.outputs.json }}
      version: ${{ needs.version.outputs.release_version }}
      artifact: true
  enterprise-api-docker:
    uses: walt-id/waltid-identity/.github/workflows/enterprise-api-docker.yml@3c360ff47f15ed48833e75df5fc39c6a22356912
    secrets: inherit
    needs: [ version, docker-matrix ]
    with:
      version: ${{ needs.version.outputs.release_version }}
  ebsi-ct-v3:
    uses: walt-id/waltid-identity/.github/workflows/ebsictv3.yml@3f56b05ff315770abd06e7a931b5a73942296cc4
    needs: [ version, docker ]
    secrets: inherit
    with:
      artifact: issuer-api
      tag: "waltid/issuer-api:${{ needs.version.outputs.release_version }}"
  compose-test:
    uses: walt-id/waltid-identity/.github/workflows/docker-compose-testing.yml@30f3806290f5652dd371a682cf17961250607e71
    needs: [ version, docker ]
    secrets: inherit
    with:
      artifact: true
      tag: "${{ needs.version.outputs.release_version }}"
