name: Build on every push

on:
  push:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  version:
    uses: walt-id/waltid-identity/.github/workflows/version.yml@6f15f719a6820cf631bce0399a89b3f060302d3d
  gradle-build:
    uses: walt-id/waltid-identity/.github/workflows/gradle.yml@b13b88e7430f57946d065ea875352b2586d01246
    secrets: inherit
    needs: version
    with:
      version: ${{ needs.version.outputs.release_version }}
  docker-matrix:
    uses: walt-id/waltid-identity/.github/workflows/load-json.yml@43ba2cb6031b8001d73d6e6a66e211c18a7a7d12
    with:
      jsonpath: ".github/workflows/data/docker-matrix.json"
  docker:
    uses: walt-id/waltid-identity/.github/workflows/docker.yml@3a0b58287aa318e34845cd7f8279a1441ae8cbe2
    secrets: inherit
    needs: [ version, docker-matrix ]
    with:
      images: ${{ needs.docker-matrix.outputs.json }}
      version: ${{ needs.version.outputs.release_version }}
      artifact: true
  api-docker-matrix:
    uses: walt-id/waltid-identity/.github/workflows/load-json.yml@43ba2cb6031b8001d73d6e6a66e211c18a7a7d12
    with:
      jsonpath: ".github/workflows/data/api-docker-matrix.json"
  api-docker:
    uses: walt-id/waltid-identity/.github/workflows/api-docker.yml@3a0b58287aa318e34845cd7f8279a1441ae8cbe2
    secrets: inherit
    needs: [ version, api-docker-matrix ]
    with:
      images: ${{ needs.api-docker-matrix.outputs.json }}
      version: ${{ needs.version.outputs.release_version }}
      artifact: true
  ebsi-ct-v3:
    # disabled job because of ebsi certificate issues (expired certificate)
    if: false
    uses: walt-id/waltid-identity/.github/workflows/ebsictv3.yml@f7b6a96ba6391317d5ad07b0d4589dfbad1770bf
    needs: [ version, docker, api-docker ]
    secrets: inherit
    with:
      artifact: issuer-api
      tag: "waltid/issuer-api:${{ needs.version.outputs.release_version }}"
  compose-test:
    uses: walt-id/waltid-identity/.github/workflows/docker-compose-testing.yml@f7b6a96ba6391317d5ad07b0d4589dfbad1770bf
    needs: [ version, docker, api-docker ]
    secrets: inherit
    with:
      artifact: true
      tag: "${{ needs.version.outputs.release_version }}"
