name: Build and/or push docker (reusable workflow)

on:
  workflow_call:
    inputs:
      version:
        description: "release version"
        required: true
        type: string
      tag:
        description: "desired tag, e.g. latest, dev (defaults to dev)"
        required: false
        type: string
        default: "dev"
      publish:
        description: "Specifies whether to publish the images (defaults to false)"
        required: false
        type: boolean
        default: false


jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        services:
          - {
            folder: waltid-services/waltid-issuer-api,
            image: issuer-api
          }
          - {
              folder: waltid-services/waltid-verifier-api,
              image: verifier-api
          }
          - {
            folder: waltid-services/waltid-wallet-api,
            image: wallet-api
          }
          - {
            folder: waltid-applications/waltid-web-wallet/apps/waltid-demo-wallet,
            image: waltid-demo-wallet
          }
          - {
            folder:  waltid-applications/waltid-web-wallet/apps/waltid-dev-wallet,
            image: waltid-dev-wallet
          }
          - {
            folder: waltid-applications/waltid-web-portal,
            image: portal
          }
    steps:
      - uses: actions/checkout@v4
      - name: Login to Docker Hub
        if: ${{ inputs.publish }}
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Set up Docker Buildx
        if: ${{ !inputs.publish }}
        uses: docker/setup-buildx-action@v3
      - name: Build and push Docker images (${{ matrix.services.image }})
        uses: docker/build-push-action@v6
        with:
          push: ${{ inputs.publish }}
          file: ${{ matrix.services.folder }}/Dockerfile
          tags: waltid/${{ matrix.services.image }}:${{ inputs.tag }}, waltid/${{ matrix.services.image }}:${{ inputs.version }}
