name: Build on every push except main branch

on:
  push:
    branches-ignore:
      - main


jobs:
  build:
    name: "Build"
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v3
      - name: Setup java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
      - name: Setup cache
        uses: actions/cache@v2
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - name: Gradle wrapper validation
        uses: gradle/wrapper-validation-action@v1

      - name: Get changed files in the frontend
        id: frontend-changed-files
        uses: tj-actions/changed-files@v44
        with:
          files: |
            waltid-web-portal/**
            waltid-web-wallet/web/**

      - name: Running gradle build
        uses: eskatos/gradle-command-action@v3.3.1
        env:
          MAVEN_USERNAME: ${{ secrets.MAVEN_USERNAME }}
          MAVEN_PASSWORD: ${{ secrets.MAVEN_PASSWORD }}
        with:
          arguments: build --no-daemon
        if: ${{ steps.frontend-changed-files.outputs.any_changed == 'false' }}
