name: Run gradle build for iOS

on:
  workflow_dispatch:

jobs:
  gradle:
    runs-on: macos-latest
    steps:
      - name: Checkout all repos with ref fallback
        uses: walt-id/waltid-identity/.github/actions/checkout-repos@0afb34c5dec4a3d2030e591eb8a1b9089cc09ce8
        with:
          token: ${{ secrets.GH_ACCESS_TOKEN }}

      - name: Configure gradle
        uses: walt-id/waltid-identity/.github/actions/gradle-setup-action@0afb34c5dec4a3d2030e591eb8a1b9089cc09ce8

      - name: Build iOS Simulator Framework (ARM64)
        uses: walt-id/waltid-identity/.github/actions/gradle-ios@0afb34c5dec4a3d2030e591eb8a1b9089cc09ce8
        with:
          waltid-directory: 'waltid-identity'