name: Release on manual push

on:
  workflow_dispatch:
    inputs:
      release_version:
        description: 'Release version'
        required: true

jobs:
  version:
    uses: walt-id/waltid-identity/.github/workflows/version.yml@cb51bb121eb21eba0f5c12c79c7bb34bbbaa86d5
    with:
      preferred: ${{ inputs.release_version }}
  gradle-build:
    uses: walt-id/waltid-identity/.github/workflows/build-gradle.yml@cb51bb121eb21eba0f5c12c79c7bb34bbbaa86d5
    secrets: inherit
    needs: version
    with:
      version: ${{ needs.version.outputs.release_version }}
      publish: true
  docker-build:
    uses: walt-id/waltid-identity/.github/workflows/build-docker.yml@cb51bb121eb21eba0f5c12c79c7bb34bbbaa86d5
    secrets: inherit
    needs: version
    with:
      version: ${{ needs.version.outputs.release_version }}
      tag: latest
      publish: true
  deploy:
    uses: walt-id/waltid-identity/.github/workflows/deployment.yml@dd9e94a2b08b2f9917d56543061963e6757def1f
    secrets: inherit
    needs: [ version, gradle-build, docker-build ]
    with:
      version: ${{ needs.version.outputs.release_version }}
      deployment: prod
      namespace: default
      portals: portals
  tag:
    uses: walt-id/waltid-identity/.github/workflows/tag.yml@cb51bb121eb21eba0f5c12c79c7bb34bbbaa86d5
    needs: [ version, deploy ]
    with:
      version: ${{ needs.version.outputs.release_version }}
  release:
    uses: walt-id/waltid-identity/.github/workflows/changelog.yml@cb51bb121eb21eba0f5c12c79c7bb34bbbaa86d5
    secrets: inherit
    needs: [ tag ]
    with:
      tag: ${{ needs.tag.outputs.tag }}
