name: 'Close stale issues and PRs'
on:
  schedule:
    - cron: '30 20 * * *'

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v3
        with:
          stale-issue-message: 'This issue has been marked as stale.'
          stale-pr-message: 'This pull request has been marked as stale.'
